---
// Sticky navbar with "selection box" corners. Edit links in one place.
---
<nav class="nav">
  <a class="logo" href="/">MR5OBOT</a>
  <a href="/#works">Works</a><a href="/blog">Leaks</a><a href="#">Contact</a>
  <span class="corner tl"></span><span class="corner tr"></span>
  <span class="corner bl"></span><span class="corner br"></span>
</nav>
